/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   background: transparent;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

body {
  box-sizing: content-box;
  font-family: 'Lucida Grande', sans-serif;
  background: #f2f2f2;
}

#app {
  background: white;
  width: 1216px;
  height: 1695px;
  margin: 0 auto;
  padding: 0 100px;
}

#auth-form {
  /*display: block;
  margin: auto;*/
  /*width: 300px;
  height: 500px;*/
}

#login-errors {
  list-style: none;
  font-size: 12px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-weight: 300;
}

.feed-index {
  float: left;

  margin: 20px 0;
}

.feed-list {
  width: 350px;
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px 0;
}

.feed-list-item {
  width: 175px;
  display: block;
  float: left;
  font-size: 24px;
  text-align: left;
}

.login-button:hover {
  cursor: pointer;
}

.input {
  display: block;
  width: 85%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background: white;
}

.login-button {
  text-align: center;
  margin: 0 auto;
  width: 92%;
  font-size: 14px;
  font-weight: 200px;
  padding: 10px;
  color: white;
  background: #FF530D;
  margin: 10px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

.nav_bar {
}

.nav-list {
  /*width: 900px;
  margin: 0 auto;*/
  background: #333;
  list-style: none;
  display: block;
  float: left;
}

.nav-list-item {
  font-weight: 200;
  font-size: 14px;
  color: #ccc;
  padding: 12px 0;
  display: block;
  float: left;
  height: 46px;
  width: 104px;
  box-sizing: border-box;
  text-align: center;
}

.song-index {

}

.song-index:first-child {
  margin: 20px 0 0 0;
}

.song-item {
  display: block;
  padding: 10px 0;
  margin: 20px 0 0 0;
}

#welcome-message {
  color: #aaa;
  font-size: 16px;
  font-weight: 200;
}

#login {
  border-radius: 3px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 100;
  padding: 2px 11px 2px 10px;
}

#signup {
  margin: 0 20px;
  padding: 2px 11px 2px 10px;
  font-size: 14px;
  font-weight: 100;
  border-radius: 3px;
  background: #FF530D;
  color: white;
}

.auth-buttons {
  display: block;
  top: 10px;
  right: 10px;

  float: right;
  position: absolute;
}

#welcome-image {
  display: block;
  position: relative;
  margin: 0 auto;
  /*height: 1200px;
  width: 1600px;*/
}

.header-link {
  position: absolute;
  display: block;
  width: 200px;
  margin: 0 auto;
  top: 400px;
  text-align: center;
  right: 800px;
}

header {
  display: block;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  color: white;
}
