/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   background: transparent;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

body {
  box-sizing: content-box;
  font-family: 'Lucida Grande', sans-serif;
}

#auth-form {
  display: block;
  margin: auto;
  /*width: 300px;
  height: 500px;*/
}

#login-errors {
  list-style: none;
  font-size: 12px;
}

header {
  display: block;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-weight: 300;
}

.input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background: white;
}

.feed-index {
  float: left;
}

.feed-list {
  display: block;
  float: left;
}

.feed-list-item {
  display: block;
  float: left;
  font-size: 24px;
  padding: 20px;
  border:
}

.submit {
  width: 100px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 200px;
  padding: 10px 40px;
  color: white;
  background: #FF530D;
  border-radius: 4px;
}

.submit:hover {
  cursor: pointer;
}

#guest {
  margin: 0 auto;
  width: 100px;
  font-size: 14px;
  font-weight: 200px;
  padding: 10px 40px;
  color: white;
  background: #FF530D;
  margin: 10px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}
